# ESTE TRABAJO BUSCA LOCALIZAR LA REGIÓN CON MÁS PREMIOS GASTRONÓMICOS Y REFUTAR LA HIPÓTESIS DE QUE EL RANKING ES EUROCENTRISTA.

In [1]:
from bs4 import BeautifulSoup
import re
import requests
import pandas as pd
import random
import numpy as np
from pandas.io.json import json_normalize

In [2]:
url = 'https://www.theworlds50best.com/list/1-50-winners'

In [3]:
#Hacer sopa
response = requests.get(url).content
soup = BeautifulSoup(response, 'lxml')

In [4]:
#Determinar rankings
ranking = []
for a in soup.find_all('p',{'class':'position'}):
    ranking.append(a)

rank = ranking
rank = [row.text.strip().split("\n") for row in rank]
#rank

In [6]:
#Determinar restaurantes
restaurante = []
for a in soup.find_all('h2'):
    restaurante.append(a)
rest = restaurante
rest = [row.text.strip().split("\n") for row in rest]

del rest[0]
#rest

In [7]:
#Find the city
cities = []
for a in soup.find_all('h3'):
    cities.append(a)
city = cities
city = [row.text.strip().split("\n") for row in city]
#city

In [8]:
columns = ['Ranking', 'Restaurant','City']
dfR, dfRe, dfC = pd.DataFrame(rank), pd.DataFrame(rest), pd.DataFrame(city)
Frame = pd.concat([dfR,dfRe,dfC], axis=1)
Frame.columns = columns

In [9]:
Frame

    Ranking        Restaurant                 City
0      No.1           Mirazur       Menton, France
1      No.2              Noma  Copenhagen, Denmark
2      No.3  Asador Etxebarri          Axpe, Spain
3      No.4            Gaggan    Bangkok, Thailand
4      No.5          Geranium  Copenhagen, Denmark
..      ...               ...                  ...
115  No.116      St. Hubertus  San Cassiano, Italy
116  No.117           Epicure        Paris, France
117  No.118             Ernst      Berlin, Germany
118  No.119            Atomix        New York, USA
119  No.120          Sugalabo         Tokyo, Japan

[120 rows x 3 columns]

In [10]:
Frame.to_csv('Frame.csv', encoding='utf-8', index=False)

In [47]:
#ESTA API CALL NO SIRVIÓ PARA LO QUE BUSCABA

#apiurl_cities = 'https://developers.zomato.com/api/v2.1/cities?q=france'
#key_api = '51078b90a6b2e0fba70f111bcd6efd8f'

In [ ]:
#apiresponse1 = requests.get(apiurl_cities, headers={'user-key':'51078b90a6b2e0fba70f111bcd6efd8f'})
#results1 = apiresponse1.json()
#results1

In [2]:
urlwiki = 'https://en.wikipedia.org/wiki/The_World%27s_50_Best_Restaurants'

In [46]:
#Busca el historial de ganadores

responsewiki = requests.get(urlwiki).content
soupw = BeautifulSoup(responsewiki, 'lxml')

wikitable= soupw.find_all('table',{'class':'wikitable'})[0]
wrows= wikitable.find_all('tr')
wrows=[row.text.strip().split('\n')for row in wrows]

del wrows [0]
del wrows [0]
wcols = ['Year','null','1st','null','2nd','null','3rd']
wdf=pd.DataFrame(wrows, columns=wcols)
wdf=wdf.drop('null', axis=1)
wdf

,Year,1st,2nd,3rd
0,2002,elBulli,Gordon Ramsay,The French Laundry
1,2003,The French Laundry,elBulli,Le Louis XV
2,2004,The French Laundry,The Fat Duck,elBulli
3,2005,The Fat Duck,elBulli,The French Laundry
4,2006,elBulli,The Fat Duck,Pierre Gagnaire
5,2007,elBulli,The Fat Duck,Pierre Gagnaire
6,2008,elBulli,The Fat Duck,Pierre Gagnaire
7,2009,elBulli,The Fat Duck,Noma
8,2010,Noma,elBulli,The Fat Duck
9,2011,Noma,El Celler de Can Roca,Mugaritz
10,2012,Noma,El Celler de Can Roca,Mugaritz
11,2013,El Celler de Can Roca,Noma,Osteria Francescana
12,2014,Noma,El Celler de Can Roca,Osteria Francescana
13,2015,El Celler de Can Roca,Osteria Francescana,Noma
14,2016,Osteria Francescana,El Celler de Can Roca,Eleven Madison Park
15,2017,Eleven Madison Park,Osteria Francescana,El Celler de Can Roca
16,2018,Osteria Francescana,El Celler de Can Roca,Mirazur
17,2019,Mirazur,Noma,Asador Etxebarri

In [49]:
#Obtener la lista de los restaurantes del mundo con m3 o más estrellas Michelin

In [161]:
url5 = 'https://en.wikipedia.org/wiki/List_of_Michelin_3-star_restaurants'

In [183]:
response5 = requests.get(url5).content
soup5 = BeautifulSoup(response5, 'lxml')

table5= soup5.find_all('table',{'class':'wikitable'})[1]
rows5= table5.find_all('tr')
rows5=[row.text.strip().split('\n')for row in rows5]
del rows5 [0]
df5 = pd.DataFrame(rows5)

In [185]:
response6 = requests.get(url5).content
soup6 = BeautifulSoup(response5, 'lxml')

table6= soup6.find_all('table',{'class':'wikitable'})[2]
rows6= table6.find_all('tr')
rows6=[row.text.strip().split('\n')for row in rows6]
del rows6[0]
df6 = pd.DataFrame(rows6)

In [186]:
response7 = requests.get(url5).content
soup7 = BeautifulSoup(response7, 'lxml')

table7= soup7.find_all('table',{'class':'wikitable'})[3]
rows7= table7.find_all('tr')
rows7=[row.text.strip().split('\n')for row in rows7]
del rows7[0]
df7 = pd.DataFrame(rows7)

In [187]:
response8 = requests.get(url5).content
soup8 = BeautifulSoup(response8, 'lxml')

table8= soup8.find_all('table',{'class':'wikitable'})[4]
rows8= table8.find_all('tr')
rows8=[row.text.strip().split('\n')for row in rows8]
del rows8[0]
df8 = pd.DataFrame(rows8)

In [188]:
response9 = requests.get(url5).content
soup9 = BeautifulSoup(response9, 'lxml')

table9= soup9.find_all('table',{'class':'wikitable'})[5]
rows9= table9.find_all('tr')
rows9=[row.text.strip().split('\n')for row in rows9]
del rows9 [0]
df9 = pd.DataFrame(rows9)

In [189]:
response11 = requests.get(url5).content
soup11 = BeautifulSoup(response11, 'lxml')

table11= soup11.find_all('table',{'class':'wikitable'})[6]
rows11= table11.find_all('tr')
rows11=[row.text.strip().split('\n')for row in rows11]
del rows11 [0]
df11 = pd.DataFrame(rows11)

In [168]:
response12 = requests.get(url5).content
soup12 = BeautifulSoup(response12, 'lxml')

table12= soup12.find_all('table',{'class':'wikitable'})[7]
rows12= table12.find_all('tr')
rows12=[row.text.strip().split('\n')for row in rows12]
del rows12 [0]
df12 = pd.DataFrame(rows12)

In [169]:
response13 = requests.get(url5).content
soup13 = BeautifulSoup(response13, 'lxml')

table13= soup13.find_all('table',{'class':'wikitable'})[8]
rows13= table13.find_all('tr')
rows13=[row.text.strip().split('\n')for row in rows13]
del rows13 [0]
df13 = pd.DataFrame(rows13)

In [170]:
response14 = requests.get(url5).content
soup14 = BeautifulSoup(response14, 'lxml')

table14= soup14.find_all('table',{'class':'wikitable'})[9]
rows14= table14.find_all('tr')
rows14=[row.text.strip().split('\n')for row in rows14]
del rows14 [0]
df14 = pd.DataFrame(rows14)

In [171]:
response15 = requests.get(url5).content
soup15 = BeautifulSoup(response15, 'lxml')

table15= soup15.find_all('table',{'class':'wikitable'})[10]
rows15= table15.find_all('tr')
rows15=[row.text.strip().split('\n')for row in rows15]
del rows15 [0]
df15 = pd.DataFrame(rows15)

In [172]:
response16 = requests.get(url5).content
soup16 = BeautifulSoup(response16, 'lxml')

table16= soup16.find_all('table',{'class':'wikitable'})[11]
rows16= table16.find_all('tr')
rows16=[row.text.strip().split('\n')for row in rows16]
del rows16 [0]
df16 = pd.DataFrame(rows16)

In [173]:
response17 = requests.get(url5).content
soup17 = BeautifulSoup(response17, 'lxml')

table17= soup17.find_all('table',{'class':'wikitable'})[12]
rows17= table17.find_all('tr')
rows17=[row.text.strip().split('\n')for row in rows17]
del rows17 [0]
df17 = pd.DataFrame(rows17)

In [174]:
response18 = requests.get(url5).content
soup18 = BeautifulSoup(response18, 'lxml')

table18= soup18.find_all('table',{'class':'wikitable'})[13]
rows18= table18.find_all('tr')
rows18=[row.text.strip().split('\n')for row in rows18]
del rows18 [0]
df18 = pd.DataFrame(rows18)

In [175]:
response19 = requests.get(url5).content
soup19 = BeautifulSoup(response19, 'lxml')

table19= soup19.find_all('table',{'class':'wikitable'})[14]
rows19= table19.find_all('tr')
rows19=[row.text.strip().split('\n')for row in rows19]
del rows19 [0]
df19 = pd.DataFrame(rows19)

In [176]:
response20 = requests.get(url5).content
soup20 = BeautifulSoup(response20, 'lxml')

table20= soup20.find_all('table',{'class':'wikitable'})[15]
rows20= table20.find_all('tr')
rows20=[row.text.strip().split('\n')for row in rows20]
del rows20 [0]
df20 = pd.DataFrame(rows20)

In [177]:
response21 = requests.get(url5).content
soup21 = BeautifulSoup(response21, 'lxml')

table21= soup21.find_all('table',{'class':'wikitable'})[16]
rows21= table21.find_all('tr')
rows21=[row.text.strip().split('\n')for row in rows21]
del rows21 [0]
df21 = pd.DataFrame(rows21)
df21

           0                               1                  2         3
0      Basel                    Cheval Blanc        Peter Knogl  2016[81]
1   Crissier  Restaurant de l'Hôtel de Ville  Franck Giovannini  1992[82]
2  Fürstenau            Schloss Schauenstein   Andreas Caminada  2011[83]

In [178]:
response22 = requests.get(url5).content
soup22 = BeautifulSoup(response22, 'lxml')

table22= soup22.find_all('table',{'class':'wikitable'})[17]
rows22= table22.find_all('tr')
rows22=[row.text.strip().split('\n')for row in rows22]
del rows22 [0]
df22 = pd.DataFrame(rows22)

In [179]:
response23 = requests.get(url5).content
soup23 = BeautifulSoup(response23, 'lxml')

table23= soup23.find_all('table',{'class':'wikitable'})[18]
rows23= table23.find_all('tr')
rows23=[row.text.strip().split('\n')for row in rows23]
del rows23 [0]
df23 = pd.DataFrame(rows23)

In [180]:
response24 = requests.get(url5).content
soup24 = BeautifulSoup(response24, 'lxml')

table24= soup24.find_all('table',{'class':'wikitable'})[19]
rows24= table24.find_all('tr')
rows24=[row.text.strip().split('\n')for row in rows24]
del rows24 [0]
df24 = pd.DataFrame(rows24)
df24

,0,1,2,3
0,Chicago,Alinea,Grant Achatz and Simon Davies[91],2011[92]
1,Healdsburg,SingleThread,Kyle Connaughton,2019[93]
2,Los Gatos,Manresa,David Kinch[94][95] and Nicholas Romero[96],2016[97]
3,New York City,Le Bernardin,"Éric Ripert,[98] Chris Muller,[99] and Eric Ge...",2006[101]
4,New York City,Per Se,Thomas Keller[102] and Corey Chow[103][104],2006[101]
5,New York City,Masa,Masa Takayama,2009[105]
6,New York City,Eleven Madison Park,Daniel Humm and Brian Lockwood,2012[106]
7,New York City,Chef's Table at Brooklyn Fare,César Ramírez,2012[106]
8,San Francisco,Atelier Crenn,Dominique Crenn,2019[93]
9,San Francisco,Benu,Corey Lee and Brandon Rodgers,2015[107]
10,San Francisco,Quince,Michael Tusk and Neil Stetz,2017[108]
11,St. Helena,The Restaurant at Meadowood,Christopher Kostow and John Hong,2011[109]
12,Washington,The Inn at Little Washington,Patrick O’Connell,2019[110][111]
13,Yountville,The French Laundry,Thomas Keller and David Breeden[112][113],2007[114]

# NO me salió concatenar los data frames en uno solo, intenté .concat, .append con mil sintaxis distintas y no jala :(